
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --white: hsla(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);
    --font-size: 15px;
}

.grid {
    margin: 2rem;
    border: 2px solid purple;

    height: 500px;
    width: 900px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
}

/* buttons */

.btn {
    cursor: pointer;
    color: var(--white);
    background: var(--light-gray);
    border: transparent;
    border-radius: 1.5rem;
    letter-spacing: var(--letterSpacing);
    padding: 1rem 2rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize;
    display: inline-block;
  }
  .sedan-btn {
    color: var(--primary-orange)
  }
  .suv-btn {
    color: var(--dark-cyan);
  }

  .lux-btn {
    color: var(--very-dark-cyan);
  }

  .btn:hover {
    background: var(--white);
    box-shadow: var(--shadow-3);
  }
  .btn-hipster {
    color: var(--primary-500);
    background: var(--primary-200);
  }
  .btn-hipster:hover {
    color: var(--primary-200);
    background: var(--primary-700);
  }
  .btn-block {
    width: 100%;
  }

  .img {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  .card {
    border: 2px solid green;
    padding: 2rem;
    display: grid;
    grid-template-rows: 100px repeat(3, 1fr);
  }

  .card > p {
    color: var(--white)
  }

  .card > h2 {
    color: var(--light-gray);
    font-size: 2rem;
    
  }

  .sedan {
    background: var(--primary-orange);
  }

  .suv {
    background: var(--dark-cyan);
  }

  .luxury {
    background: var(--very-dark-cyan);
  }